* {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    /*font-family: 'M PLUS 1', sans-serif; */
    letter-spacing: 2px;
    line-height: 1.75em;
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
}

h2 {
    font-weight: 400;
    margin-bottom: 10px;
}

p {
    display: inline-block;
    font-size: 14px;
}

a:hover {
    text-decoration: none;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

header {
    box-shadow: 0 0 6px 0 rgba(150, 150, 150, 10);
    padding: 0 0 50px 0;
}

header h1 {
    font-weight: 400;
    padding-top: 25px;
}

#reproduction_title {
    margin: 40px 0 0 0;
}

/*#reproduction_title h2 {
    font-weight: 400;
}*/

.rep_outline {
    font-size: 14px;
}

.catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.post {
    position: relative;
    box-shadow: 6px 6px 6px 0 rgba(150,150,150,10);
    padding: 10px 10px 40px 10px;
    margin: 40px 20px;
}

.post_wrapper {
    width: 320px;
}

.post img {
    width: 320px;
}

.post_title {
    font-weight: 400;
    margin-bottom: 10px;
}

.post_summary {
    display: inline-block;
    font-size: 14px;
}

.post_difficult {
    font-size: 14px;
    margin-top: 20px;
}

.post_timestamp {
    position: absolute;
    right: 20px;
    bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
}

.post a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000;
}

.post:hover {
    position: relative;
    top: -6px;
    left: -6px;
}


#other {
    margin-bottom: 50px;
}

.my_photo {
    border-radius: 50%;
    margin-right: 60px;
}

.my_profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.my_text {
    font-size: 14px;;
}

.my_name {
    font-size: 18px;
    font-weight: bold;
}

.my_text {
    width: 60%;
}

.my_skill_table {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
}

.skill_list, .tool_skill, .capabilities, .sample_list {
    width: 50%;
    text-align: center;
    margin-bottom: 80px;
}


/*  Smart Phone  */
/*@media screen and (max-width: 767px) {

.wrapper {
    padding: 0 20px;
}

.catalogue {
    flex-direction: column;
    justify-content: center;
}


.post_timestamp {
    position: sticky;
    right: 0px;
    bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

.my_profile {
    display: flex;
    flex-direction: column;
}

.my_name {
    text-align: center;
}

.my_skill_table {
    display: flex;
    flex-direction: column;
}

}*/